@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap');
@import './helpers.scss';
@import './Homepage.scss';
@import './Piano.scss';
@import './Key.scss';
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Babak One', 'Montserrat';

  h1 {
    font-family: 'Montserrat';
  }
  .main-app-layout {
    width: 100%;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
